body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.none {
    display: none;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    index: 1;
}

#debug {
    position: absolute;
    top: 0;
    left: 0;
    index: 1000;
    color: #FF0000;
}

.footer {
    position: fixed;
    bottom: 10px;

    width: 100%;
    text-align: center;

    z-index: 100000;
}

.mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}